<!DOCTYPE html>
<html lang="ja">

<head>

    <link rel="icon" type="image/png" href="static/image/icon.png">

    <meta charset="utf-8">
    <link rel="stylesheet" href="./style1.css">
    <!--test.cssファイルからスタイルシートを読み込み-->
    <title>書き初めおみくじ</title>
</head>

<body>
    <main>

        <article>
            <h1 class="page-title">書き初めおみくじ</h1>
        </article>

        <div class="inner">
            <a class="button1" href="/result">始める</a><br>
            <a class="button2" href="/add">任意の文字を追加</a>
        </div>

    </main>
</body>

</html>
