<!doctype html>
<html lang="ja">

<head>
    <link rel="icon" type="image/png" href="./image/icon.png">
</head>
<meta charset="UTF-8">
<title>登録</title>
<meta name="description" content="文字登録">
<link rel="stylesheet" href="./style5.css">

<body>
    <h1>任意の文字を登録</h1>
    <form action="#" method="post" name="contact-form">
        <input type="text" name="moji">
        <div class="button">
            <a href="./index6.html">登録</a>
        </div>
    </form>
</body>

</html>