<!doctype html>
<html lang="ja">
    <head>
        <link rel="icon" type="image/png" href="image/icon.png">
        <meta charset="UTF-8">
        <title>登録</title>
    </head>
    <meta name="description" content="文字登録">
    <link rel="stylesheet" href="static/css/style5.css">
    <body>
        <main>
            <article>
               <h1>任意の文字を登録</h1>
            </article>
            
            <form action="#" method="post" name="contact-form">
            <input type="text" name="moji">
                <div class="button">
                     <button type="button" onclick="location.href='/complete'" ">登録</button>

                </div>
            </form>
        </main>
    </body>
</html>
