<!DOCTYPE html>
<html lang="ja">
    <head>

        <link rel="icon" type="image/png" href="image/icon.png">

        <meta charset="utf-8">
        <link rel="stylesheet" href="css/style1.css"> <!--test.cssファイルからスタイルシートを読み込み-->
        <title>書き初めおみくじ</title>
    </head>

    <body>
        <main>

            <article>
                <h1 class="page-title">書き初めおみくじ</h1>
            </article>

            <div class="inner">
              <button type="button" id="button1">始める</button></br>

                <button type="button" id="button2">任意の文字を追加</button>

            </div>

        </main>
    </body>
    <script>
    document.getElementById("button1").onclick = function () {
   location.href = 'index2.html';
 }
 document.getElementById("button2").onclick = function () {
location.href = 'index5.html';
}
    </script>
</html>
