body{
    background-image:url("../完成/s_back.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    padding: 40px;
}

.page-title{
    font-size: 100px;
    font-family:"HGP行書体", serif;
    text-align: center
}

.inner {
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
  }

.button1,.button2 {
    background-color: #000000;
    color: #FAF9F9;
    font-size: 1.2rem;
    font-family:"HGP行書体", serif;
    padding: 10px 20px;
    max-width: 230px;
    border-radius: 5px;
    margin: 30px auto;
    transition: all 1000ms 0s ease;
    text-decoration:none
  }
  
  .button1:hover {
    background-color:  #7a7a7a;
    transform: translateY(-5px);
  }
  
  .button2:hover {
    background-color: #7a7a7a;
    transform: translateY(-5px);
  }